<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3 text-center">Welcome <%= user.name %></p>
<a class="float-right btn btn-secondary" href="/users/logout">Logout</a>

<link rel="stylesheet" href="scripts/styles.3154d0bac59f99a53a27.css"></head>
<app-root></app-root>
<script src="scripts/runtime-es2015.c5fa8325f89fc516600b.js" type="module"></script><script src="scripts/runtime-es5.c5fa8325f89fc516600b.js" nomodule defer></script><script src="scripts/polyfills-es5.8e50a9832860f7cf804a.js" nomodule defer></script><script src="scripts/polyfills-es2015.5b10b8fd823b6392f1fd.js" type="module"></script><script src="scripts/scripts.584061c84cca79c079f4.js" defer></script><script src="scripts/main-es2015.058ac7b16adeaa9ad1d0.js" type="module"></script><script src="scripts/main-es5.058ac7b16adeaa9ad1d0.js" nomodule defer></script>